# Virtual environment
venv/
.env
.venv/
env/
__pycache__/
.history/


# Byte-compiled files
*.pyc
*.pyo
*.pyd

# Logs and databases
*.log
*.sqlite3
db.sqlite3

# VSCode settings
.vscode/

# macOS system files
.DS_Store

# PyCharm files
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Cache files
*.cache
*.egg-info/

# Git ignore for Python packages
pip-log.txt
pip-delete-this-directory.txt

# Ignore bot token and credentials
config.json
secrets.json
